/*Body do website*/
body {
    font-family: Arial, sans-serif;
}

/*Foto de perfil*/
.Perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*Descrição do perfil*/
.descricaoPerfil {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

/*Configurações da página inicial*/
.paginaInicial {
    background: linear-gradient(to bottom, #000000 0%, #0a1428 50%, #000000 100%); 
    color: #fbf9f9; /*Cor do texto*/
}

/*Conteúdo da página inicial*/
.containerPaginaInicial, .contatoPaginaInicial{
    text-align: center;
    padding: 20px 20px;
}

/*Botões 'Ver Projetos' e 'Entrar em Contato' da Página inicial*/
.botaoPaginaInicial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.botaoVerProjetos {
    background-color: #145bfa;
    color: #cfd0fc;
    border-radius: 5px;
    width: 125px;
    height: 50px;
    border-style: none;
    font-size: large;
}

.botaoEntrarContato {
    background-color: #04060f;
    color: #4b9bf3;
    border-radius: 5px;
    width: 125;
    height: 50px;
    border-color: #145bfa;
    font-size: large;
}

.contatoPaginaInicial {
    text-align: center;
}

.logoGitHub, .logoLinkedIn {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logoGmail {
    width: 30px;
    height: 20px;
}